.cp-block3
  width 100%
  height auto
  background-color #ffffff

  .cp-block3-content
    width 100%
    height auto
    padding-top 24px
    padding-bottom 40px
    box-sizing border-box
    @media (min-width 768px)
      padding-top 48px
      padding-bottom 68px

    .cp-block3-head
      width 100%
      height auto
      margin-bottom 24px
      @media (min-width 768px)
        margin-bottom 40px

      h2
        color #23a2c6
        font-family "GillSansC"
        font-size 26px
        font-weight 600
        line-height 28px
        text-align center
        margin-bottom 6px
        br
          display none
        @media (min-width 768px)
          font-size 34px
          font-weight 400
        @media (min-width 1280px)
          br
            display block

      p
        color #333333
        font-family "GillSansLightC"
        font-size 17px
        font-weight 300
        letter-spacing 1px
        text-align center
        @media (min-width 768px)
          font-size 22px
          font-weight 300
          letter-spacing 1px
          margin-bottom 41px


    .cp-block-info
      width 100%
      height auto
      @media (min-width 768px)
        display flex
        display -webkit-flex
        justify-content center
        align-items flex-start
        flex-flow row wrap

      .block-info
        width 284px
        height auto
        box-shadow 0 3px 20px rgba(0, 0, 0, 0.1)
        border-radius 4px
        background-color #ffffff
        margin-bottom 24px
        overflow hidden
        padding-bottom 28px
        @media (min-width 768px)
          margin-right 28px
          margin-left 28px
          margin-bottom 48px
        @media (min-width 768px)
          margin-right 22px
          margin-left 22px

        .info-img
          width 100%
          height 174px
          margin-bottom 24px

          img
            width 100%
            height auto

        .info-text
          width 100%
          height auto
          min-height 140px
          padding 0 15px
          box-sizing border-box

          p
            color #333333
            font-family "GillSansLightC"
            font-size 17px
            font-weight 300
            letter-spacing 0.4px
            text-align center

    p
      font-family "GillSansLightC"
      font-size 16px
      color #333333
      font-weight 300
      letter-spacing 0.29px
      text-align center
      br
        display none
      @media (min-width 768px)
        font-size 20px
        line-height 26px
        br
          display block
      @media (min-width 1280px)
        br
          display none

      a
        color #2191b9
        font-weight 600
        letter-spacing 0.33px
