.cp-block1
  width 100%
  height auto
  background-image url("img/bg.png")
  background-size auto
  background-repeat repeat-x
  background-color #ffffff
  background-position bottom

  .cp-block1-content
    width 100%
    height auto
    padding-top 40px
    padding-bottom 53px
    box-sizing border-box
    @media (min-width 768px)
      padding-top 48px
      padding-bottom 68px

    .cp-block1-head
      width 100%
      height auto
      margin-bottom 24px
      @media (min-width 768px)
        margin-bottom 40px

      h2
        color #23a2c6
        font-family "GillSansC"
        font-size 26px
        font-weight 600
        line-height 28px
        text-align center
        margin-bottom 6px
        @media (min-width 768px)
          font-size 34px
          font-weight 400
          letter-spacing 1px

      p
        color #333333
        font-family "GillSansLightC"
        font-size 17px
        font-weight 300
        letter-spacing 1px
        text-align center
        @media (min-width 768px)
          font-size 22px
          font-weight 300
          letter-spacing 1px
          margin-bottom 41px


    .cp-block1-conditions
      width 100%
      height auto
      display flex
      display -webkit-flex
      justify-content center
      align-items center
      flex-flow row wrap
      @media (min-width 1240px)
        justify-content space-between
        align-items flex-start

      .conditions
        width 100%
        height auto
        margin-bottom 40px
        @media (min-width 768px)
          width 50%
        @media (min-width 1240px)
          width 25%

        .conditions-img
          width 100%
          height auto
          display flex
          display -webkit-flex
          justify-content center
          align-items center
          margin-bottom 8px
          @media (min-width 768px)
            margin-bottom 12px
          @media (min-width 1240px)
            margin-bottom 24px

          img
            width 146px
            height 146px


        .conditions-text
          width 100%
          height auto

          h3
            color #23a2c6
            font-family "GillSansC"
            font-size 20px
            font-weight 600
            letter-spacing 0.4px
            text-align center


