section.block5.cnt
    div.block5-content.row
        div.block5-head
            h2 Отзывы наших клиентов
            p Почитайте, что о нас думают клиенты

        div.reviews-slider
            div.slick-pre
            div.slick-slider
                div.slick-slide
                    div.slide-img
                        img(src="img/photo-1.png")
                    div.slide-text
                        h3 Мария Иванова
                        p.sity г. Москва
                        p Have you ever had a problem with a burned light? Thanks to the effort of Thomas Edison we no longer need to invent a light bulb.
                div.slick-slide
                    div.slide-img
                        img(src="img/photo-2.png")
                    div.slide-text
                        h3 Иван Иванов
                        p.sity г. Москва
                        p At about this time of year, some months after New Year’s resolutions have been made and kept, or made and neglected, one thing is undeniable.
                div.slick-slide
                    div.slide-img
                        img(src="img/photo-3.png")
                    div.slide-text
                        h3 Елена Сергеева
                        p.sity г. Москва
                        p Hollywood hype would have us believe that a hypnotist can control and direct our actions, and that we can be made to do all sorts of unimaginable.

            div.slick-nex
