section.block3.cnt
    div.block3-content.row
        div.block3-head
            h2 4 простых шага <br> на получение займа
            p Получите деньги не выходя <br> из дома!

        div.steps-blocks
            div.step-block
                div.step-img
                    img(src="img/reg.png")
                div.step-head
                    h3 1. Зарегистрируйтесь <br>на сайте
                div.step-text
                    p Успешно пройдите регистрацию на нашем сайте. Укажите номер своего мобильного телефона и адрес своей электронной почты.

            div.line.o-l

            div.step-block
                div.step-img
                    img(src="img/user.png")
                div.step-head
                    h3 2. Заполните <br>анкету
                div.step-text
                    p Для оформления заявки, Вам нужно заполнить анкету на нашем сайте. Это займет всего несколько минут. Решение мы примем еще быстрее.

            div.line.t-l

            div.step-block
                div.step-img
                    img(src="img/procent.png")
                div.step-head
                    h3 3. Дождитесь <br>одобрения
                div.step-text
                    p При оценке клиента используется лояльная методика, что приводит к минимальному количеству отказов. После получения обозрения подвердите оферту.

            div.line.tr-l

            div.step-block
                div.step-img
                    img(src="img/wallet.png")
                div.step-head
                    h3 4. Получите <br>займ
                div.step-text
                    p Получить займ на именную банковскую карту или ЯндексКошелек. Выбирайте, что для Вас удобней.