section.block2.cnt
 div.block2-content.row
     div.block2-head
         h2 Преимущества займа с нами!
         p Мы рады предоставить <br> лучшие условия

     div.slider-advantages
        div.slick-prev
        div.slick-slider
            div.slick-slide
                div.slide-img
                    img(src="img/slide-1.png")
                div.slide-text
                    h3 Без лишних документов
                    p Получить деньги можно в день обращения, не выходя из дома! Из документов требуется только паспорт.
            div.slick-slide
                div.slide-img
                    img(src="img/slide-2.png")
                div.slide-text
                    h3 Быстрый ответ
                    p Заполните анкету и дождитесь решения. Заполнение анкеты займет несколько минут. Решение мы примем ещё быстрее.
            div.slick-slide
                div.slide-img
                    img(src="img/slide-3.png")
                div.slide-text
                    h3 Без скрытых комиссий
                    p Всего 2.17% в день от суммы займа. Никаких скрытых комиссий.
            div.slick-slide
                div.slide-img
                    img(src="img/slide-4.png")
                div.slide-text
                    h3 Выгодно пользоваться
                    p Погасите полученный займ раньше срока, заплатив только за фактическое время пользования деньгами.
            div.slick-slide
                div.slide-img
                    img(src="img/slide-5.png")
                div.slide-text
                    h3 Удобно оплачивать
                    p Погасить займ можно, выбрав любой удобный способ в личном кабинете: с банковской карты в личном кабинете
            div.slick-slide
                div.slide-img
                    img(src="img/slide-6.png")
                div.slide-text
                    h3 Данные в безопастности
                    p Мы не запрашиваем и не храним данные Вашей карты. Все операции с картой проходят в защищенном режиме.

        div.slick-next
