section.block7.cnt
    div.block7-content.row

        div.contacts-block
            div.block7-head
                h2 Контакты
                p Займы выдаются круглосуточно
            div.contact
                div.cont-one
                    div.phone
                        p Свяжитесь с нами:
                        a(href="tel: 88000000000")
                            h2 8 800 000 00 00

                    div.email
                        p Напишите нам на почту:
                        a(href="mailTo: info@домен.ru")
                            h2 info@домен.ru

                    div.time
                        p Время работы:
                        h2 9:00 - 20:00

                div.cont-two
                    div.name
                        p Название:
                        h2 ООО Компания

                    div.inn
                        p ОГРН / ИНН:
                        h2 1234567891234 / 123456789123

                    div.addres
                        p Адрес:
                        h2 г. Ульяновск, ул. Карла Маркса, 34А


