section.block1.cnt
    div.block1-content.row
        div.block1-head
            h1 Срочный онлайн займ <br> до зарплаты за 15 минут
            p Заполните анкету и деньги будут <br> у Вас на карте уже в 16:00

            div.icons-home-blocks
                div.icon-block
                    img(src="img/watch-icon.png")
                    p Займы выдаются круглосуточно
                div.icon-block
                    img(src="img/pasport-icon.png")
                    p Достаточно паспорта
                div.icon-block
                    img(src="img/arrow-icon.png")
                    p Продление и досрочное погашение

        div.calculator-block
            div.calculator

                div.button-block
                    button.button-blue.b1 Первый займ по акции
                    button.button-white.b2 Повторный займ

                div.one-calc

                    div.cal-text-block
                        p При оформлении первого займа <br>три дня
                            span  БЕСПЛАТНО

                    div.summ-blocks
                        div.summ-block
                            div.one-sum
                                p Сумма займа:
                                span 4 500 р.
                            div.switch.one-s
                                input(type="range" min="2000" max="6000" step="500" oninput="")

                        div.summ-block
                            div.one-sum
                                p Срок займа:
                                span 12 дней
                            div.switch.two-s
                                input(type="range" min="3" max="30" step="1" oninput="")

                    div.content-row
                        div.end-blocks
                            div.end-block
                                p Комиссия:
                                span 2 170

                            div.end-block
                                p Итого к оплате:
                                span 8 170

                            div.end-block
                                p Оплатить до:
                                span 21.07.17

                        div.good-block
                            div.gb
                                p Вероятность <br>одобрения:
                                span 97%
                            button.button-red Получить деньги




                div.two-calc.calc-hidden
                    div.cal-text-block
                        p При оформлении первого займа <br>три дня
                            span  БЕСПЛАТНО

                    div.summ-blocks
                        div.summ-block
                            div.one-sum
                                p Сумма займа:
                                span 1 500 р.
                            div.switch.one-s
                                input(type="range" min="2000" max="6000" step="500" oninput="")

                        div.summ-block
                            div.one-sum
                                p Срок займа:
                                span 13 дней
                            div.switch.two-s
                                input(type="range" min="3" max="30" step="1" oninput="")

                    div.content-row
                        div.end-blocks
                            div.end-block
                                p Комиссия:
                                span 1 170

                            div.end-block
                                p Итого к оплате:
                                span 9 170

                            div.end-block
                                p Оплатить до:
                                span 24.07.17

                        div.good-block
                            div.gb
                                p Вероятность <br>одобрения:
                                span 91%
                            button.button-red Получить деньги



                p Не успеваете погасить займ? <br> Мы продлим его до 30 дней!


