section.block6
    div.block6-content.row
        div.block6-head.cnt
            h2 Мы уже помогли более 26 000 клиентов по всей России
            p Обращайтесь к нам — мы поможем и Вам!

        div.maps

