section.cp-block1.cnt
    div.cp-block1-content.row
        div.cp-block1-head
            h2 Условия получения займа
            p Если Вы соответствуете нашим требованиям, то получить платинум просто и быстро

        div.cp-block1-conditions
            div.conditions
                div.conditions-img
                    img(src="img/money.png")
                div.conditions-text
                    h3 У Вас <br>постоянный доход

            div.conditions
                div.conditions-img
                    img(src="img/citizen.png")
                div.conditions-text
                    h3 Являетесь гражданином <br>Российской Федерации

            div.conditions
                div.conditions-img
                    img(src="img/age.png")
                div.conditions-text
                    h3 В возрасте <br>от 21 до 65 лет

            div.conditions
                div.conditions-img
                    img(src="img/phone.png")
                div.conditions-text
                    h3 Есть мобильный телефон <br>для подписания договора