header.cnt
    div.header-content.row
        div.logo-block
            img(src="img/logo.svg")

        div.menu-container
            ul
                li.menu-item
                    a(href="#") Условия
                li.menu-item
                    a(href="#") Документы
                li.menu-item
                    a(href="#") Вопрос-Ответ

        div.extradition
            p Займов выдано:<br>
                span 12 485

        div.reg-block
            a.reg-link(href="#") Регистрация
            button.lk-button
                img(src="img/lk-icon.svg")
                p Личный кабинет



        div.burger-block


        div.habmenu
            ul
                li.menu-item
                    button.lk-button
                        img(src="img/lk-icon.svg")
                        p Личный кабинет
                li.menu-item
                    a.reg-link(href="#") Регистрация
                li.menu-item
                    a(href="#") Условия
                li.menu-item
                    a(href="#") Документы
                li.menu-item
                    a(href="#") Вопрос-Ответ