section.qa-block1.cnt
    div.qa-block1-content.row
        div.qa-block1-head
            h2 Вопрос - ответ
            p Ответы на Ваши вопросы

        div.question-answer
            div.question
                img(src="img/help-button.png")
                p Кто может взять займ

            div.answer
                div
                    a(href="#" onclick="return false") Кто может взять займ у нас
                    p.answer-text текст ответа
                div
                    a(href="#" onclick="return false") Кому доступен займ
                    p.answer-text текст ответа
                div
                    a(href="#" onclick="return false") Кому мы дадим займ
                    p.answer-text текст ответа

        div.question-answer
            div.question
                img(src="img/help-button.png")
                p Оформление заявки и принятие решения

            div.answer
                div
                    a(href="#" onclick="return false") Кто может взять займ у нас
                    p.answer-text текст ответа
                div
                    a(href="#" onclick="return false") Кому доступен займ
                    p.answer-text текст ответа
                div
                    a(href="#" onclick="return false") Кому мы дадим займ
                    p.answer-text текст ответа

        div.question-answer
            div.question
                img(src="img/help-button.png")
                p Получение денег

            div.answer
                div
                    a(href="#" onclick="return false") Кто может взять займ у нас
                    p.answer-text текст ответа
                div
                    a(href="#" onclick="return false") Кому доступен займ
                    p.answer-text текст ответа
                div
                    a(href="#" onclick="return false") Кому мы дадим займ
                    p.answer-text текст ответа

        div.question-answer
            div.question
                img(src="img/help-button.png")
                p Оплата займа

            div.answer
                div
                    a(href="#" onclick="return false") Кто может взять займ у нас
                    p.answer-text текст ответа
                div
                    a(href="#" onclick="return false") Кому доступен займ
                    p.answer-text текст ответа
                div
                    a(href="#" onclick="return false") Кому мы дадим займ
                    p.answer-text текст ответа

        div.question-answer
            div.question
                img(src="img/help-button.png")
                p Безопасность в деньгограде

        div.question-answer
            div.question
                img(src="img/help-button.png")
                p Другое

